<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Product</title>
</head>
<body>
{% csrf_token token %}
<li class="nav">
    <a class="nav-link" href="{% url "index" %}">Главная страница</a>
    <a class="nav-link" href="{% url "update_product" product.pk %}">Редактирование</a>
    <a class="nav-link" href="{% url "delete_product" product.pk %}">Удаление товара</a>
</li>

<div class="col-12 col-md-6 col-lg-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Наименование товара: {{ product.name }}</h5
            <p class="card-title">Описание: {{ product.description }}</p>
            <p class="card-title">Категория: {{ product.category }}</p>
            <p class="card-title">Остаток: {{ product.remains }} шт</p>
            <p class="card-title">Цена: {{ product.price }}</p>
        </div>
    </div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</html>