

{% extends "base.html" %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "index" %}">Главная страница</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "update_product" product.pk %}">Редактирование</a>
    </li>
    <li class="nav-item">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productDeleteModal">
            Удаление товара
        </button>
    </li>
{% endblock %}

{% block content %}
    {{ test }}
    <div class="col-12 col-md-6 col-lg-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Наименование товара: {{ product.name }}</h5
            <p class="card-title">Описание: {{ product.description }}</p>
            <p class="card-title">Категория: {{ product.category }}</p>
            <p class="card-title">Остаток: {{ product.remains }} шт</p>
            <p class="card-title">Цена: {{ product.price }}</p>
        </div>
    </div>
</div>
    <div class="modal fade" id="productDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productDeleteModal">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Удалить товар без возврата {{ product.name }}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="{% url "delete_product" product.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Да</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}